p{
    /* font-style: italic; */
    /* font-size: 30px; */
    font-family: cursive;
    font-weight: 900;
    line-height: 80px;

}
.para1{
    background-color: #2b968b;
    color: rgb(209, 17, 17);
}

.para2{
    background-color: #d9d9d9;
    color: rgb(22, 22, 121);
    
}

